@font-face {
  font-family: 'FreestyleScript';
  src: url("../fonts/FreestyleScript/FreestyleScript.eot");
  src: url("../fonts/FreestyleScript/FreestyleScript.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FreestyleScript/FreestyleScript.woff") format("woff");
  src: url("../fonts/FreestyleScript/FreestyleScript.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff") format("woff");
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/OpenSans-Italic/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-Italic/OpenSans-Italic.woff") format("woff");
  src: url("../fonts/OpenSans-Italic/OpenSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px; }
  body a {
    text-decoration: none; }

header {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  header .topics {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .topics a {
      color: #555555;
      font-family: 'OpenSans-SemiBold';
      position: relative;
      margin-right: 25px; }
      header .topics a:last-child {
        margin-right: 0; }
      header .topics a::after {
        content: "";
        display: none;
        position: absolute;
        height: 1px;
        width: 65%;
        background-color: #5363db;
        bottom: 0;
        left: 15%; }
      header .topics a:hover {
        color: #5363db;
        padding-bottom: 5px; }
        header .topics a:hover::after {
          display: block; }

.title-section {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/bg-img.png");
  background-position: top center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }
  .title-section .title {
    height: 100%;
    width: 100%;
    background-color: rgba(117, 130, 226, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .title-section .title .title-form {
      background-color: #FFF;
      padding: 0 40px 0 30px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      margin-right: 90px;
      -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15); }
      .title-section .title .title-form p {
        color: #5363db;
        font-size: 25px;
        font-family: 'OpenSans-SemiBold';
        margin: 40px 0 30px; }
      .title-section .title .title-form input, .title-section .title .title-form select {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: block;
        height: 50px;
        width: 100%;
        margin-bottom: 17px;
        background-color: #f2f2f2;
        border: none;
        -webkit-border-radius: 6px;
                border-radius: 6px;
        padding-left: 10px;
        color: #888888; }
        .title-section .title .title-form input::-webkit-input-placeholder, .title-section .title .title-form select::-webkit-input-placeholder {
          opacity: 1;
          -webkit-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
        .title-section .title .title-form input::-moz-placeholder, .title-section .title .title-form select::-moz-placeholder {
          opacity: 1;
          -webkit-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
        .title-section .title .title-form input:-ms-input-placeholder, .title-section .title .title-form select:-ms-input-placeholder {
          opacity: 1;
          -webkit-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
        .title-section .title .title-form input::-ms-input-placeholder, .title-section .title .title-form select::-ms-input-placeholder {
          opacity: 1;
          -webkit-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
        .title-section .title .title-form input::placeholder, .title-section .title .title-form select::placeholder {
          opacity: 1;
          -webkit-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
        .title-section .title .title-form input:focus, .title-section .title .title-form select:focus {
          outline: none;
          border: 1px solid #c7c6c6; }
          .title-section .title .title-form input:focus::-webkit-input-placeholder, .title-section .title .title-form select:focus::-webkit-input-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease; }
          .title-section .title .title-form input:focus::-moz-placeholder, .title-section .title .title-form select:focus::-moz-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease; }
          .title-section .title .title-form input:focus:-ms-input-placeholder, .title-section .title .title-form select:focus:-ms-input-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease; }
          .title-section .title .title-form input:focus::-ms-input-placeholder, .title-section .title .title-form select:focus::-ms-input-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease; }
          .title-section .title .title-form input:focus::placeholder, .title-section .title .title-form select:focus::placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease; }
      .title-section .title .title-form button {
        text-align: center;
        height: 50px;
        width: 65%;
        background-color: #5b6ceb;
        border: none;
        -webkit-border-radius: 6px;
                border-radius: 6px;
        display: block;
        margin: 14px 0px 35px auto;
        color: #fff;
        font-family: 'OpenSans-Bold';
        font-size: 14px; }
    .title-section .title .title-text {
      max-width: 485px;
      color: #fff; }
      .title-section .title .title-text h3 {
        text-transform: uppercase;
        line-height: 65px;
        font-family: 'OpenSans-Bold';
        font-size: 48px;
        margin-bottom: 25px; }
      .title-section .title .title-text h4 {
        max-width: 280px;
        font-family: 'FreestyleScript';
        font-size: 40px;
        margin: 0; }

.classes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .classes h3 {
    color: #5b6ceb;
    font-family: 'OpenSans-Bold';
    font-size: 30px;
    text-transform: uppercase;
    margin: 125px 0 0; }
  .classes p {
    color: #777777;
    font-family: 'FreestyleScript';
    font-size: 40px;
    margin: 25px 0 62px 0; }
  .classes .classes-description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 65px; }
    .classes .classes-description .class-block {
      max-width: 570px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 13px 15px;
      -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 6px;
              border-radius: 6px; }
      .classes .classes-description .class-block .description {
        padding: 50px 10px 0 30px; }
        .classes .classes-description .class-block .description h4 {
          margin: 0;
          margin-bottom: 30px;
          color: #777777;
          font-size: 20px;
          font-family: 'OpenSans-Bold';
          text-transform: uppercase; }
        .classes .classes-description .class-block .description p {
          margin: 0;
          color: #555555;
          font-size: 14px;
          font-family: 'OpenSans-Regular';
          line-height: 22px;
          margin-bottom: 15px; }
          .classes .classes-description .class-block .description p + p {
            color: #999999;
            font-size: 14px;
            font-family: 'OpenSans-Regular'; }

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0 0 0; }
  .gallery img {
    width: 25%;
    height: 100%;
    position: relative; }
    .gallery img:hover.hover-block {
      opacity: 1;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease; }

.hover-block {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(124, 137, 239, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.about-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 125px 0; }
  .about-us .about-us-text {
    max-width: 470px;
    margin-right: 110px; }
    .about-us .about-us-text h5 {
      color: #5b6ceb;
      font-family: 'OpenSans-Bold';
      font-size: 30px;
      text-transform: uppercase;
      margin: 0 0 28px 0; }
    .about-us .about-us-text p {
      color: #555555;
      font-family: 'OpenSans-Regular';
      font-size: 14px;
      margin: 0; }
  .about-us .slider img {
    max-width: 570px;
    max-height: 300px; }

.elements {
  height: 800px;
  background-image: url("../img/bg-img-2.png");
  background-position: top center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }
  .elements .elements-blue {
    height: 100%;
    width: 100%;
    background-color: rgba(117, 130, 226, 0.8); }
    .elements .elements-blue .element-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding-bottom: 60px;
      max-width: 1300px;
      margin-right: auto;
      margin-left: auto; }
      .elements .elements-blue .element-block .el-item {
        max-width: 275px;
        text-align: center;
        margin: 60px 15px 0;
        line-height: 30px; }
        .elements .elements-blue .element-block .el-item .sign {
          background-image: url("../img/css_sprites.png");
          width: 70px;
          height: 70px;
          margin: 0 auto; }
          .elements .elements-blue .element-block .el-item .sign.item-1 {
            background-position: -190px -191px;
            margin-top: 60px; }
          .elements .elements-blue .element-block .el-item .sign.item-2 {
            background-position: -191px -10px;
            margin-top: 60px; }
          .elements .elements-blue .element-block .el-item .sign.item-3 {
            background-position: -191px -100px;
            margin-top: 60px; }
          .elements .elements-blue .element-block .el-item .sign.item-4 {
            background-position: -10px -101px;
            margin-top: 60px; }
            .elements .elements-blue .element-block .el-item .sign.item-4 + h5 {
              max-width: 110px; }
          .elements .elements-blue .element-block .el-item .sign.item-5 {
            background-position: -100px -191px; }
            .elements .elements-blue .element-block .el-item .sign.item-5 + h5 {
              padding: 30px 0 55px; }
          .elements .elements-blue .element-block .el-item .sign.item-6 {
            background-position: -100px -101px; }
          .elements .elements-blue .element-block .el-item .sign.item-7 {
            background-position: -10px -191px; }
          .elements .elements-blue .element-block .el-item .sign.item-8 {
            background-position: -101px -10px; }
        .elements .elements-blue .element-block .el-item h5 {
          color: #fff;
          font-family: 'OpenSans-Bold';
          font-size: 18px;
          margin: 0 auto;
          max-width: 181px;
          padding: 30px 0 25px; }
        .elements .elements-blue .element-block .el-item p {
          color: #fff;
          font-family: 'OpenSans-Regular';
          font-size: 16px;
          margin: 0; }
