@import "_fonts"

body 
	font-family: 'OpenSans-Regular', sans-serif
	font-weight: 400
	font-size: 14px
	a 
		text-decoration: none
	
header 
	height: 100px
	width: 100%
	max-width: 1200px
	margin: 0 auto
	.topics
		height: 100%
		display: flex
		flex-direction: row 
		justify-content: space-around
		align-items: center
		a 
			color: #555555
			font-family: 'OpenSans-SemiBold'
			position: relative
			margin-right: 25px
			&:last-child
				margin-right: 0
			&::after
				content: ""
				display: none
				position: absolute
				height: 1px 
				width: 65%
				background-color: #5363db
				bottom: 0
				left: 15%
			&:hover
				color: #5363db
				padding-bottom: 5px
				&::after
					display: block
.title-section
	height: 600px
	width: 100%
	margin: 0 auto
	background-image: url("../img/bg-img.png")
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	.title
		height: 100%
		width: 100%
		background-color: rgba(117, 130, 226, .8)
		display: flex 
		align-items: center
		justify-content: center
		.title-form
			background-color: #FFF
			padding: 0 40px 0 30px
			border-radius: 15px
			margin-right: 90px
			box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15)
			p 
				color: #5363db
				font-size: 25px
				font-family: 'OpenSans-SemiBold'
				margin: 40px 0 30px
			input, select
				box-sizing: border-box
				display: block
				height: 50px
				width: 100%
				margin-bottom: 17px
				background-color: #f2f2f2
				border: none
				border-radius: 6px 
				padding-left: 10px 
				color: #888888
				&::placeholder 
					opacity: 1
					transition: opacity 0.3s ease
				&:focus
					outline: none
					border: 1px solid #c7c6c6
					&::placeholder
						opacity: 0
						transition: opacity 0.3s ease
			button 
				text-align: center
				height: 50px
				width: 65%
				background-color: #5b6ceb
				border: none
				border-radius: 6px 
				display: block
				margin: 14px 0px 35px auto
				color: #fff
				font-family: 'OpenSans-Bold'
				font-size: 14px

		.title-text 
			max-width: 485px
			color: #fff
			h3 
				text-transform: uppercase
				line-height: 65px
				font-family: 'OpenSans-Bold'
				font-size: 48px
				margin-bottom: 25px
			h4
				max-width: 280px
				font-family: 'FreestyleScript'
				font-size: 40px
				margin: 0

.classes
	display: flex 
	flex-direction: column
	align-items: center
	justify-content: center
	h3
		color: #5b6ceb
		font-family: 'OpenSans-Bold'
		font-size: 30px
		text-transform: uppercase
		margin: 125px 0 0 
	p
		color: #777777
		font-family: 'FreestyleScript'
		font-size: 40px
		margin: 25px 0 62px 0
	.classes-description
		display: flex
		flex-direction: row 
		flex-wrap: wrap
		justify-content: center
		margin: 0px 65px
		.class-block
			max-width: 570px
			display: flex 
			margin: 13px 15px
			box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10)
			border-radius: 6px 
			img 
			.description
				padding: 50px 10px 0 30px
				h4 
					margin: 0
					margin-bottom: 30px
					color: #777777
					font-size: 20px
					font-family: 'OpenSans-Bold'
					text-transform: uppercase
				p
					margin: 0
					color: #555555
					font-size: 14px
					font-family: 'OpenSans-Regular'
					line-height: 22px
					margin-bottom: 15px
					& + p 
						color: #999999
						font-size: 14px
						font-family: 'OpenSans-Regular'
.gallery
	display: flex 
	flex-wrap: wrap 
	justify-content: center
	margin: 100px 0 0 0
	img 
		width: 25%
		height: 100%
		position: relative
		&:hover
			&.hover-block
				opacity: 1
				transition: opacity .3s ease
.hover-block
	position: absolute
	top: 0
	left: 0
	background-color: rgba(124, 137, 239, .8)
	width: 100%
	height: 100%
	opacity: 0
	transition: opacity .3s ease
		
.about-us
	display: flex 
	justify-content: center
	align-items: center
	margin: 125px 0
	.about-us-text
		max-width: 470px
		margin-right: 110px
		h5 
			color: #5b6ceb
			font-family: 'OpenSans-Bold'
			font-size: 30px
			text-transform: uppercase
			margin: 0 0 28px 0
		p 
			color: #555555
			font-family: 'OpenSans-Regular'
			font-size: 14px
			margin: 0
	.slider 
		img 
			max-width: 570px
			max-height: 300px
.elements
	height: 800px
	background-image: url("../img/bg-img-2.png")
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	.elements-blue
		height: 100%
		width: 100%
		background-color: rgba(117, 130, 226, .8)
		.element-block
			display: flex
			justify-content: center
			flex-wrap: wrap
			padding-bottom: 60px
			max-width: 1300px
			margin-right: auto
			margin-left: auto
			.el-item
				max-width: 275px
				text-align: center
				margin: 60px 15px 0
				line-height: 30px
				.sign
					background-image: url("../img/css_sprites.png")
					width: 70px
					height: 70px
					margin: 0 auto
					&.item-1
						background-position: -190px -191px
						margin-top: 60px 
					&.item-2
						background-position: -191px -10px
						margin-top: 60px 
					&.item-3
						background-position: -191px -100px
						margin-top: 60px 
					&.item-4
						background-position: -10px -101px
						margin-top: 60px 
						& + h5  
							max-width: 110px 
					&.item-5
						background-position: -100px -191px
						& + h5 
							padding: 30px 0 55px 
					&.item-6
						background-position: -100px -101px
					&.item-7
						background-position: -10px -191px
					&.item-8
						background-position: -101px -10px
			
				h5 
					color: #fff
					font-family: 'OpenSans-Bold'
					font-size: 18px
					margin: 0 auto
					max-width: 181px
					padding: 30px 0 25px 
				p 
					color: #fff
					font-family: 'OpenSans-Regular'
					font-size: 16px
					margin: 0
.shop 
	height: 1150px
	background-image: url("../img/flower.png")
	background-position: 100% 220%
	background-size: auto
	background-repeat: no-repeat
	.shop-blocks
		display: flex 
		justify-content: center
		margin-top: 100px 
		.basic, .pro, .premium
			margin: 0 15px 
			border-radius: 8px 
			box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.1); 
			.header
				width: 370px
				height: 150px
				background-color: #5b6ceb
				margin-bottom: 25px	
				position: relative
				border-radius: 8px 8px 0 0
				h5 
					font-family: 'OpenSans-Bold'
					font-size: 68px
					color: #fff
					text-transform: uppercase
					text-align: center
					position: absolute
					margin: 0
					top: 25%
					left: 35%
					&::before 
						content: ""
						background-image: url("../img/css_sprites.png")
						background-position: -281px -174px
						width: 16px
						height: 26px
						position: absolute
						top: 28px 
						left: -32px
					span 
						font-size: 18px
			.shop-description

				p
					color: #555555
					font-family: 'OpenSans-Regular'
					font-size: 18px
					text-transform: uppercase
					padding: 25px 70px
					margin: 0
					position: relative
					&::after 
						content: ""
						position: absolute
						height: 1px
						width: 27%
						bottom: 0
						left: 37%
						background-color: #d7d7d7
			button
				color: #fff
				font-family: 'OpenSans-SemiBold'
				font-size: 18px
				background-color: #5b6ceb
				padding: 15px 46px
				border: none
				border-radius: 19px
				display: block
				margin: 25px auto 50px auto
				// &:hover 
				// 	background-color: #09ccb7